/* pt-sans-regular - latin_cyrillic */
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: local("PT Sans"), local("PTSans-Regular"), url("../fonts/ptsans.woff2") format("woff2"), url("../fonts/ptsans.woff") format("woff"); }

/* pt-sans-700 - latin_cyrillic */
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: local("PT Sans Bold"), local("PTSans-Bold"), url("../fonts/ptsansbold.woff2") format("woff2"), url("../fonts/ptsansbold.woff") format("woff"); }

a {
  text-decoration: none; }

img {
  max-width: 100%;
  height: auto; }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0); }

.page {
  height: 100%; }

.page__body {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  color: #000000;
  background-color: #ffffff; }

.page-header {
  width: 100%; }

.main-nav {
  background-color: #81b3d2; }

.intro {
  text-align: center; }

.intro__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 26px; }

.intro__description {
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 0; }

.site-list {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #81b3d2; }

.site-list__item:hover, .site-list__item:focus {
  background-color: #669ec0; }

.site-list__item:active {
  background-color: #5496bd; }

.site-list__link {
  font-size: 18px;
  line-height: 40px;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  display: block;
  padding-top: 10px;
  padding-bottom: 5px; }

.features-list {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #eeeeee; }

.features-list__item {
  text-align: center;
  margin-top: 0;
  padding-top: 26px;
  padding-bottom: 24px; }

.features-list__item--highlighted {
  color: #ffffff;
  background-color: #81b3d2;
  padding-top: 39px;
  padding-bottom: 35px; }

.features-list__item--house {
  padding-bottom: 0; }

.features-list__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  margin-bottom: 21px; }

.features-list__number,
.features-list__description {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal; }

.features-list__number,
.features-list__title {
  margin-bottom: 21px; }

.features-sublist {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #000000;
  text-align: left;
  background-color: #ffffff;
  padding-top: 26px;
  padding-bottom: 35px; }

.features-sublist__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 21px; }

.features-sublist__description {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 0; }

.booking {
  text-align: center;
  padding: 33px 20px 49px 20px; }

.booking__title {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 26px; }

.booking__text {
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 0; }

.booking__link {
  width: 100%; }

.button {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #81b3d2;
  display: block;
  border: none;
  box-sizing: border-box;
  padding-top: 14px;
  padding-bottom: 18px; }
  .button:hover, .button:focus {
    background-color: #669ec0; }
  .button:active {
    background-color: #5496bd; }

.page-footer {
  padding-top: 36px;
  padding-bottom: 26px; }

.page-footer__sedona-hashtag {
  margin-bottom: 33px; }

.page-footer__social-list {
  margin-bottom: 40px; }

.social-list {
  list-style: none;
  margin: 0;
  padding: 0; }

.socila-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 48px; }

.sedona-hashtag {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold; }

.copyright__text {
  font-size: 14px;
  line-height: 26px;
  font-weight: normal; }

.feedback-form {
  padding: 0 20px 48px 20px; }

.feedback-form__button {
  width: 100%; }

.fieldset--user-info {
  padding: 20px 0 25px 0; }

.fieldset--user-contacts {
  padding: 20px 0 28px 0; }

.fieldset--trip-rate {
  padding: 20px 0 27px 0; }

.fieldset--visited-sights {
  padding: 15px 0 21px 0; }

.fieldsetfieldset--review {
  padding: 20px 0 51px 0; }

.fieldset__legend {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold; }

.fieldset__label {
  font-size: 14px;
  line-height: 26px;
  font-weight: normal; }
  .fieldset__label--trip-rate, .fieldset__label--visited-sights {
    font-size: 18px;
    line-height: 26px;
    font-weight: bold;
    text-transform: none; }

.fieldset__input::-moz-placeholder {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-transform: none;
  color: #000000; }

.fieldset__input::placeholder,
.fieldset__textarea {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-transform: none;
  color: #000000; }

.fieldset__list {
  list-style: none;
  margin: 0;
  padding: 0; }

.photos {
  padding: 0 20px 0 20px;
  margin: 0 auto; }

.photos-list {
  list-style: none;
  margin: 0;
  padding: 0; }

.photo-article {
  padding: 22px 0 21px 0; }

.photo-article__description {
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  margin: 0; }

.photo-article__author {
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  text-transform: none; }

.likes-container__counter {
  font-size: 14px;
  line-height: 24px;
  font-weight: bold; }

/*# sourceMappingURL=style.css.map */
